version: "3.8"

services:
  app:
    build: .
    container_name: spotify-etl
    env_file:
      - .env
    depends_on:
      - db

    volumes:
      - .:/app

  db:
    image: postgres:13-alpine
    container_name: spotify-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
